/*!
 * Lopecode Design System styles. Derived from:
 *   @observablehq/inputs (ISC, Copyright 2021-2024 Observable, Inc.) https://github.com/observablehq/inputs
 *   @observablehq/notebook-kit (ISC, Copyright 2025 Observable, Inc.) https://observablehq.com/notebook-kit/
 * See LICENSE-THIRD-PARTY.md (guidelines/LICENSE-THIRD-PARTY.md in a synced project).
 */
/* notebook-kit syntax-dark.css */
[data-lc-theme="deep-space"] {
  --syntax-link: var(--theme-foreground-focus);
  --syntax-keyword: #ffa657;
  --syntax-atom: #a5d6ff;
  --syntax-literal: #d2a8ff;
  --syntax-string: #7ee787;
  --syntax-comment: var(--theme-foreground-muted);
  --syntax-invalid: var(--theme-error);
  --syntax-definition: #79c0ff;
  --syntax-variable: var(--theme-foreground-alt);
  --syntax-meta: #ff7b72;
}

/* notebook-kit theme-deep-space.css */

[data-lc-theme="deep-space"] {
  --theme-foreground: #e6e6e6;
  --theme-foreground-focus: #bd89ff;
  --theme-background-a: #000000;
  --theme-background-b: color-mix(in srgb, var(--theme-foreground) 6%, var(--theme-background-a));
  --theme-background: var(--theme-background-a);
  --theme-background-alt: var(--theme-background-b);
  --theme-foreground-alt: color-mix(in srgb, var(--theme-foreground) 90%, var(--theme-background-a));
  --theme-foreground-muted: color-mix(in srgb, var(--theme-foreground) 60%, var(--theme-background-a));
  --theme-foreground-faint: color-mix(in srgb, var(--theme-foreground) 50%, var(--theme-background-a));
  --theme-foreground-fainter: color-mix(in srgb, var(--theme-foreground) 30%, var(--theme-background-a));
  --theme-foreground-faintest: color-mix(in srgb, var(--theme-foreground) 14%, var(--theme-background-a));
  color-scheme: dark;
}
