name: Sync to tomlarkworthy.mmoldable.app

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload to S3
        run: |
          aws configure set default.s3.addressing_style virtual
          aws s3 sync --endpoint-url https://moldable.app . s3://tomlarkworthy/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.MOLDABLE_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.MOLDABLE_SECRET_ACCESS_KEY }}
